body{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FEFAE0;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul{
    list-style-type: none;
    background-color: #FEFAE0;
    padding:0px;
    margin: 0px auto;
    overflow: hidden;
    text-align: center;
}
.navbar a{
    color:#663e16;
    text-decoration: none;
    width: 100;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    padding: 23px 23px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #ebdbb3;
}
.navbar li{
    display: inline-block;
}
.front{
    background-image: url(dh\ bg\ .jpg);
    background-size: 800px;
    background-position: center;
    display: flex;
    margin: 0px;
    padding: 0px 0px 0px 150px;
}
h1{
    text-align: left;
    font-family:Snell Roundhand, cursive;
    font-size: 100px;
    float: left;
    color: #603814;
}
img{
    float: right;
}
.id{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.about{
    background-color: #CCD5AE;
    margin: auto;
    width: 1000px;
    height: 400px;
    padding: 10px;
    margin-top: -25px;
    align-items: center;
}
img{
    float: right;
    text-align: center;
}

hr.one {
    border: 10px solid #FEFAE0;
    border-radius: 5px;
  }
hr.two {
    border: 10px solid #FEFAE0;
    border-radius: 5px;
  }
.doughouse{
    font-family:Snell Roundhand, cursive;
    text-align: center;
    font-size: 45px;
    color: #603814;
    margin: auto;
    padding-top: 50px;
}
.aboutinfo{
    text-align: center; 
    padding-left: 10px;
    padding-right: 10px;
    text-align: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.aboutmain{
    background-color: #CCD5AE;
    margin: auto;
    width: 1000px;
    height: 400px;
}
.mission{
    background-color: #f6e9cb;
    margin: auto;
    width: 500px;
    height: 200px;
    float: left;
    align-items: center;
    padding: auto;
}
.mission h1{
    font-family:Snell Roundhand, cursive;
    font-size: 50px;
    text-align: center;
    align-items: center;
    margin: auto;
    float: none;
}
.mission p{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.vision{
    background-color: #f6e9cb;
    margin: auto;
    width: 500px;
    height: 200px;
    float: right;
    align-items: center;
    padding: auto;
}
.vision h1{
    font-family:Snell Roundhand, cursive;
    font-size: 50px;
    text-align: center;
    align-items: center;
    margin: auto;
    float: none;
}
.vision p{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    text-align: center;
}

.team{
    background-color: #CCD5AE;
    margin-top: 250px;
    width: 1500px;
    height: 400px;
}
.team h1{
    font-family:Snell Roundhand, cursive;
    font-size: 50px;
    text-align: center;
    align-items: center;
    margin: auto;
    float: none;
}
.team h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: left;
    align-items: center;
    margin: auto;
    float: none;
}
.team p{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    text-align: left;
}
.profile{
    width: 200px;
    float: left;
    
}
.teamprofile{
    width: 300px;
    height: 500px;
}

.btn{
    background-color: #D4a373;
    border: none;
    width: 50px;
    color: #FEFAE0;;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 0px auto;
    display: flex;
  justify-content: center;
  align-items: center;
}
.hr{
    color: #FEFAE0;
    border: #FEFAE0;
    border-radius: 0%;
}